@charset "utf-8"
/*封面样式*/
.cover{width:100%;overflow:hidden;height: auto;}
.header,.footer{height:420px}
 h2{text-align:left;line-height:40px;font-size: 32px;display:block;}
 h3{text-align: left;line-height:30px;font-size: 24px;display:block;}
.cover h2,.cover h3,.cover h4{text-align: center;line-height:60px;font-size: 48px;}
.cover h3{line-height:36px;font-size: 36px;}
.cover h4{line-height:32px;font-size: 32px;}
.cover span.time{display: block;width:100%;line-height:30px;font-size: 30px;text-align: center;}
/*基本信息 危险点明细*/
.first-block{width:100%;padding-bottom:180px;color:#000;clear: both;float:left}
.first-block dl.base-info,.first-block .danger-point{display:block;}
.first-block dl.base-info dt{text-align:left;font-weight:bolder;line-height:40px;font-size:32px;display:block;}
.first-block dl.base-info dd{text-align: left;line-height:26px;font-size: 22px;display:block; margin: 12px 0} 
/*危险点明细以及危险点详情*/
.danger-point{height:auto;overflow:hidden;}
.danger-point h2{line-height:60px}
.danger-point h3{padding-left: 50px;text-align: left;}
.danger-point h4{text-align: center;line-height:36px;font-size:24px;}
/*公共表格样式*/
table{width:100%;}
table thead th{background:#e4e4e4;font-weight: bolder;}
table thead th,table tbody tr{height: auto;color:#000;}
table thead th,table tbody tr td{border:1px solid #ddd;line-height:12px;font-size: 12px;text-align: center;}
/*图文描述*/
.image-position{text-align: center;margin:10px 0}
.image-position img{display:block;margin:0 auto}
.image-position h4{width:100%;font-size:16px;font-weight:bolder;line-height:16px;text-align: center;}

/*打印设置下的样式*/
 @media print{
 	.first-block{padding-bottom:80px;height:840px;margin:80px 0}
 	.first-block.image-table{height:840px;margin:10px 0}
 	 table thead th,table tbody tr td{border:1px solid #ddd;line-height:12px;font-size: 12px;text-align: center;}
    /*描述图片的标题*/
    .image-position h4{width:100%;font-size:16px;line-height:16px;text-align: center;margin:5px 0;}
 }	 